a {
  text-decoration: none;
  color: #6b6b6b;
}

.main {
  background: #fff;
}

/* 画面上部の「ちょりっぷ」帯部分 */
.title-contents {
  width: 100vw;
  height: 100vh;
  background-image: image-url('sky3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 8vh;
  font-family: 'TsukuARdGothic-Regular'
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

/* //画面上部の「ちょりっぷ」帯部分 */

/* 投稿一覧 */

.page-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.page-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
  color: #6b6b6b;
}

.page-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #87cefa;
  font-weight: bold;
}

.page-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.page-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
  border: thick double #87cefa ;
  margin-right: 35px;
}


.page-img-content {
  position: relative;
}

.page-img {
  width: 33vh;
  height: 33vh;
}


.page-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.page-name {
  font-size: 2.5vh;
  font-weight: bold;
}

.page-info {
  font-family: 'TsukuARdGothic-Regular';
  a:link {
    color: #6b6b6b;
  }
  a:visited {
    color: #0073a8;
  }
  a:hover {
    color: #fdd35c;
  }
}

/* //投稿一覧 */