/*========= バー表示のためのCSS ===============*/

/*タイムライン全体の設定*/
.timeline{
  max-width: 400px;
  width:100%;
  margin:50px auto;
  padding:0 30px;
}

.timeline li{
    /*線の起点とするためrelativeを設定*/
    position: relative;
  list-style: none;
  padding:0 0 20px 0;
}

.timeline dl{
	margin:0 0 20px 3em;
}

.show-spot-name {
  display: block;
  padding:10px 0;
  font-weight: bold;
}

/*絶対配置で線を設定*/
.border-line {
    /*線の位置*/
  position: absolute;
  left:0.2em;
  top:0;
  width:2px;/*線の太さ*/
  height:0;/*はじめは高さを0に*/
  background: #ccc;
}

/*タイムラインの見出し横の丸の位置と形状*/
.timeline li::after{
  content:'';
  position: absolute;
  top:0;
  left:0;
  width:10px;
  height: 10px;
  background:#666;
  border-radius: 50%;
}


/*========= レイアウトのためのCSS ===============*/
.head-contents {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sun-img {
  width: 30vw;
  height: 20vh;
}

.page-show-contents {
  width: 70vw;
  font-family: 'TsukuARdGothic-Regular';
  margin: 0 auto 5vh auto;
  border: 3px solid #a0d8ef;
}

.show-page-title, .show-page-comment {
  font-size:27px;
  text-align: center;
  padding: 20px;
  color: #696969;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-page-title::before, 
.show-page-title::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #00bfff;
  margin: 0 20px;
}

.show-page-comment {
  font-size: 15px;
}


.delete-btn, .rewrite-btn {
  text-align: center;
  margin-left: 300px;
  text-transform: uppercase;
  font-family: 'TsukuARdGothic-Regular';
}

.spot-box {
  position: relative;
  display: inline-block;
  margin: -20px 3px 1.5em 40px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #696969;
  font-size: 16px;
  background: #f0f8ff;
  border-radius: 15px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.5);
}

.spot-box:before {
  content: "";
  position: absolute;
  top: 20%;
  left: -30px;
  margin-top: -20px;
  border: 15px solid transparent;
  border-right: 15px solid #f0f8ff;
}

.page-top-contents-right {
  text-align: center;
  color: black;
}

.foot-contents {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'TsukuARdGothic-Regular';
  
}

.page-top-contents-left>.like {
  text-align: center;
}

