<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'>ちょりっぷガイド</p>
    <p class='second-fotter-text'>ちょりっぷ利用規約</p>
  </div>
  <%= image_tag "tyorippu_logo.png", class:"second-fotter-logo"%>
</footer>