.second-header {
  background-color: #fff;
}

.second-fotter {
  background-color: #fff;
  display: flex;
}

.registration-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.form-wrap {
  width: 50%;
  background-color: white;
  padding-bottom: 70px;
  border: solid 3px #87cefa;
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
  color: #6b6b6b;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
  font-family: "Tsukushi B Round Gothic","筑紫B丸ゴシック";
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text, .indispensable {
  font-size: 14px;
  font-weight: bold;
  color: #6b6b6b;
  font-family: "Tsukushi B Round Gothic","筑紫B丸ゴシック";
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.info-text {
  font-size: 12px;
  font-family: "Tsukushi B Round Gothic","筑紫B丸ゴシック";
  color: #6b6b6b;
}

.form-bottom-text {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.form-bottom-text:last-child {
  margin: 0;
  padding-bottom: 50px;
}

.form-bottom-text>span {
  color: #0099e8;
  cursor: pointer;
}

.register-btn {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.register-blue-btn {
  width: 100%;
  background: #87cefa;
  border: 1px solid #87cefa;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  font-family: "Tsukushi B Round Gothic","筑紫B丸ゴシック"; font-weight: bold;
}

.register-info {
  margin: 30px 180px 0 0;
  color: #0099e8;
  text-align: right;
  cursor: pointer;
}

.user-image-btn {
  margin-top: 5px;
  font-family: "Tsukushi B Round Gothic","筑紫B丸ゴシック";
}

/* アイコン画像のボタンを変えられるか調べる */